<section id="features" class="container features">
  <div class="row section-heading text-center">
    <h3 class="">Tandem makes scheduling group meetings simple</h3>
  </div>
  <hr/>
  <div class="row">
    <div class="col-md-6">
      <div class="media">
        <div class="media-left media-top">
          <span class="glyphicon glyphicon-envelope"></span>
        </div>
        <div class="media-body">
          <h4 class="media-heading"><strong>Schedule meetings with a single email</strong></h4>
          <p>Unlike than the normal back and forth via email, Tandem knows when everyone is available so that you only need to communicate once to schedule your meetings.</p>
        </div>
      </div>
      <div class="media">
        <div class="media-left media-top">
          <span class="glyphicon glyphicon-calendar"></span>
        </div>
        <div class="media-body">
          <h4 class="media-heading"><strong>Share your calendar only with Tandem</strong></h4>
          <p>Share your calendar once with Tandem and we can automatically find the best meeting times for your group, without sharing your calendar with the world.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="media">
        <div class="media-left media-top">
          <span class="glyphicon glyphicon-repeat"></span>
        </div>
        <div class="media-body">
          <h4 class="media-heading"><strong>Canceling/Rescheduling meetings is now easer</strong></h4>
          <p>Tandem will automatically find new avalability times, giving you the choice to quickly and easly reschedule your meetings if members cant make it</p>
        </div>
      </div>
      <div class="media">
        <div class="media-left media-top">
          <span class="glyphicon glyphicon-lock"></span>
        </div>
        <div class="media-body">
          <h4 class="media-heading"><strong>Keep your availabilty private from group members</strong></h4>
          <p>With Tandem, your group members no longer need access to your calendar availability to find the best time to meet.</p>
        </div>
      </div>
    </div>
  </div>
</section>

