<section id="features" class="container features">
  <div class="row section-heading text-center">
    <h3 class="">Tandem makes scheduling mentor/mentee relationships simple</h3>
  </div>
  <hr/>
  <div class="row">
    <div class="col-md-6">
      <div class="media">
        <div class="media-left media-top">
          <span class="glyphicon glyphicon-envelope"></span>
        </div>
        <div class="media-body">
          <h4 class="media-heading"><strong>Collect schedules of mentors and mentees</strong></h4>
          <p>By simply selecting a time, date, and a list of people, Tandem easily gets the times that all parties are available.</p>
        </div>
      </div>
      <div class="media">
        <div class="media-left media-top">
          <span class="glyphicon glyphicon-calendar"></span>
        </div>
        <div class="media-body">
          <h4 class="media-heading"><strong>Intuitively schedule in-person meetings</strong></h4>
          <p>Easily drag and drop mentees into a mentor's time slot that works, automatically notifying all parties.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="media">
        <div class="media-left media-top">
          <span class="glyphicon fa fa-5x fa-comment"></span>
        </div>
        <div class="media-body">
          <h4 class="media-heading"><strong>Get feedback about mentors and mentees</strong></h4>
          <p>Improve mentor/mentee relationships by easily gathering feedback and sharing it with the people involved.</p>
        </div>
      </div>
      <div class="media">
        <div class="media-left media-top">
          <span class="glyphicon glyphicon-cog"></span>
        </div>
        <div class="media-body">
          <h4 class="media-heading"><strong>Relax as Tandem automates the process</strong></h4>
          <p>Tandem automatically deals with cancellations, rescheduling, room changes, and much more.</p>
        </div>
      </div>
    </div>
  </div>
</section>

