<section class="container features">
  <div class="row section-heading text-center">
    <h3 class="">Title & description of this section goes here</h3>
  </div>
  <hr/>
  <div class="row">
    <div class="col-md-6">
      <div class="media">
        <div class="media-left media-top">
          <span class="glyphicon glyphicon-envelope"></span>
        </div>
        <div class="media-body">
          <h4 class="media-heading"><strong>Collect schedules of mentors and mentees</strong></h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate nihil officia, quisquam eveniet accusamus!</p>
        </div>
      </div>
      <div class="media">
        <div class="media-left media-top">
          <span class="glyphicon glyphicon-calendar"></span>
        </div>
        <div class="media-body">
          <h4 class="media-heading"><strong>Intuitively schedule in-person meetings</strong></h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate nihil officia, quisquam eveniet accusamus!</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="media">
        <div class="media-left media-top">
          <span class="glyphicon fa fa-5x fa-comment"></span>
        </div>
        <div class="media-body">
          <h4 class="media-heading"><strong>Get feedback about mentors and mentees</strong></h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate nihil officia, quisquam eveniet accusamus!</p>
        </div>
      </div>
      <div class="media">
        <div class="media-left media-top">
          <span class="glyphicon glyphicon-cog"></span>
        </div>
        <div class="media-body">
          <h4 class="media-heading"><strong>Relax as Tandem automates the process</strong></h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate nihil officia, quisquam eveniet accusamus!</p>
        </div>
      </div>
    </div>
  </div>
</section>

