<footer class="bg-dark">
  <section id="connect">
      <div class="container">
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2 text-center">
                  <h2 class="section-heading">Use Tandem In Your Micro-network</h2>
                  <hr class="light">
                  <p>We're making it easy to create meaningful connections between mentors and mentees. Sign up for more information about joining our beta program</p>
              </div>
          </div>
          {% include form.html %}
      </div>
  </section>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h3>Tandem</h3>
        <i class="fa fa-heart"></i>
        <h5 class="text-faded upper">Copyright <i class="fa fa-copyright"></i> 2015 Tandem</h5>
      </div>
    </div>
  </div>
</footer>
