<header style="height:100%;">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Schedule a group meeting in under <b>30 seconds</b>.</h1>
            <h2>Eliminate the hassle of scheduling a meeting with multiple people.</h2>
                <div id="mc_embed_signup">
                    <form action="//TandemTeaTIme.us12.list-manage.com/subscribe/post?u=c7cf93485115297eb1103a67a&amp;id=ace08b9eea" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mce-responses" class="clear">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                            <div class="response" id="mce-success-response" style="display:none"></div>
                        </div>
                        <div class="form-inline">
                            <div class="form-group">
                              <input placeholder="Email" type="email" value="" name="EMAIL" class="form-control required email" id="mce-EMAIL">
                            </div>
                            <div style="position: absolute; left: -5000px;"><input type="text" name="b_c7cf93485115297eb1103a67a_ace08b9eea" tabindex="-1" value=""></div>
                            <button value="Subscribe" name="subscribe" id="mc-embedded-subscribe" type="submit" class="btn btn-primary wow tada">
                                Sign up for our <i>private beta</i>
                            </button>
                            <p style="font-size:14px;margin-top:30px;">Access to the closed beta is by invitation only. Requests accepted until March 30th 2016.</p>
                        </div>
                    </form>
                </div>
        </div>
    </div>
    <!-- <a href="#why" class="subtle-link page-scroll">Find out more <i class="fa fa-chevron-down"></i></a> -->
</header>
