<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Tandem Scheduler</h1>
            <h2>Skip the back and forth of scheduling group meetings by letting Tandem find the best time to meet.</h2>
            <a href="#connect" class="btn btn-default btn-xl page-scroll">Sign up for the Beta!</a>
        </div>
    </div>
    <div class="laptop-preview">
        <img src="../img/mockups/mockup-in-laptop.png" alt="tandem preview in laptop" />
    </div>
    <!-- <a href="#why" class="subtle-link page-scroll">Find out more <i class="fa fa-chevron-down"></i></a> -->
</header>
