<section id="how">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">How Tandem Works</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <article class="frame-left">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-wrap">
                    <h4>Select Times To Schedule</h4>
                    <h3>Creating availability schedules is finally simple</h3>
                    <p>Easily select blocks of time that your network is able to host mentors.  Want a recurring schedule?  No problem.</p>
                </div>
                <div class="col-md-6">
                    <div class="browser">
                        <div class="browser-head">
                            <ul>
                                <li class="rd"><span></span></li>
                                <li class="yl"><span></span></li>
                                <li class="grn"><span></span></li>
                            </ul>
                        </div>
                        <div class="browser-frame">
                            <img src="img/mockups/mockup-empty-schedule.jpg" alt="Choose time range for scheduling">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <article class="stripe">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-wrap">
                    <h4>Collect Mentor Availabilities</h4>
                    <h3>Reach out to mentors with a single button click</h3>
                    <p>No need to individually email multiple mentors.  With Tandem, facilitators can select multiple mentors and contact them all in one click.</p>
                </div>
                <div class="col-md-6">
                    <div class="browser">
                        <div class="browser-head">
                            <ul>
                                <li class="rd"><span></span></li>
                                <li class="yl"><span></span></li>
                                <li class="grn"><span></span></li>
                            </ul>
                        </div>
                        <div class="browser-frame">
                            <img src="img/mockups/mockup-mentors-selected.jpg" alt="Choose time range for scheduling">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <article class="frame-left">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-wrap">
                    <h4>Match Mentors to Mentees</h4>
                    <h3>Our intuitive scheduler makes mentor matching a breeze</h3>
                    <p>Once the mentors have confirmed, the facilitator is notifed to assign times that work for both the mentor and mentee.</p>
                </div>
                <div class="col-md-6">
                    <div class="browser">
                        <div class="browser-head">
                            <ul>
                                <li class="rd"><span></span></li>
                                <li class="yl"><span></span></li>
                                <li class="grn"><span></span></li>
                            </ul>
                        </div>
                        <div class="browser-frame">
                            <img src="img/mockups/mockup-mentee-scheduler.png" alt="Choose time range for scheduling">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <article class="stripe">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-wrap">
                    <h4>Automate Followups and Confirmations</h4>
                    <h3>Tandem makes sure your mentors and mentees can make their appointments</h3>
                    <p>Cancellations and re-scheduling events are simple for Tandem.  If a party cancels or re-schedules, Tandem will automatically adjust schedules and reach out to all parties to confirm the changes.</p>
                </div>
                <div class="col-md-6">
                    <div class="browser">
                        <div class="browser-head">
                            <ul>
                                <li class="rd"><span></span></li>
                                <li class="yl"><span></span></li>
                                <li class="grn"><span></span></li>
                            </ul>
                        </div>
                        <div class="browser-frame">
                            <img src="img/mockups/mockup-empty-schedule.jpg" alt="Choose time range for scheduling">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>
