<section class="bg-primary" id="why">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3>What is a micro-network?</h3>
                <p class="text-faded text-left">
                    A micro-network is a group of mentors and mentees within an organization. Think everything from a small sports club to a tech accelerator, to a University’s mentor program.
                </p>
                <hr class="light">
                <h3>The micro-network disconnect</h3>
                <p class="text-faded text-left">
                    Mentors and mentees are not colliding enough within micro-network. This means that despite the strong potential for meaningful relationships between mentors and mentees, connections are not being made.
                </p>
                <hr class="light">
                <h3>Building stronger micro-networks</h3>
                <p class="text-faded text-left">
                    Tandem allows network facilitators to quickly match, schedule, and get feedback about mentor/mentee meetings. As we enable more connections between mentors and mentees, stronger relationships are formed within the micro-network, leading to a stronger organization overall.
                </p>
                <!-- <a href="#connect" class="btn btn-default btn-xl page-scroll">Join the conversation</a> -->
            </div>
        </div>
    </div>
</section>
