<section class="bg-primary" id="why">
    <div class="container">
        <div class="row">
            <!-- <div class="col-md-6 text-center"></div> -->
            <div class="col-md-6 col-md-offset-6 text-center why-text">
                <h2>Why group Scheduling?</h2>
                <h3 class="text-faded text-left">
                    Group scheduling is hard.
                </h3>
                <p class="text-faded text-left">
                    A majority of people use email and phones to schedule groups of people. These traditional methods are only slow, but requires constant back and forth between all participants involved.
                </p>
                <hr class="light">
                <h3 class="text-faded text-left">
                    Remove the back and forth with Tandem!
                </h3>
                <p class="text-faded text-left">
                    Tandem looks both at your schedule and the schedules of all of your meeting participants and finds the best time for you to meet, before even sending the first email. Now you can schedule meetings without all the hassle of traditional communication.
                </p>
                <hr class="light">
                <h3 class="text-faded text-left">
                    Reschedule meetings on the fly.
                </h3>
                <p class="text-faded text-left">
                    When one of your participants needs to cancel, simply choose whether or not you want to reschedule the meeting. Tandem automatically finds a new time and helps you swiftly reeschedule without having to contact everyone involved first.
                </p>
                <!-- <a href="#connect" class="btn btn-default btn-xl page-scroll">Join the conversation</a> -->
            </div>
        </div>
    </div>
</section>
