html,
body {
    width: 100%;
    background: -webkit-linear-gradient(top,  #6e7f82 0%,#067187 100%); /* Chrome10-25,Safari5.1-6 */
    background: #6e7f82; /* Old browsers */
    background: -moz-linear-gradient(top,  #6e7f82 0%, #067187 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #6e7f82 0%,#067187 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #6e7f82 0%,#067187 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6e7f82', endColorstr='#067187',GradientType=0 ); /* IE6-9 */

}

body {
    @include serif-font;
}

#closedBeta {
    font-size:14px;
    margin-top:30px;
    margin-bottom: 50px;
}

hr {
    border-color: $theme-primary;
    border-width: 1px;
    max-width: 100px;
}

hr.light {
    border-color: white;
}

a {
    color: $theme-primary;
    &:hover,
    &:focus {
        color: darken($theme-primary, 10%);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include sans-serif-font;
}

.primary-color {
  color: $theme-primary;
}

.upper {
  text-transform: uppercase;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.bg-primary {
    background-color: $theme-primary;
}

.bg-dark {
    background-color: $theme-dark;
    color: white;
}

.text-faded {
    color: rgb(245, 245, 245);
}

section {
    padding: 100px 0;
}

aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}

.subtle-link {
  color: $theme-primary;
  display: inherit;
  text-transform: uppercase;
  padding-top: 15px;
  font-weight: 200;
  letter-spacing: 1px;
  text-decoration: none;
  position: absolute;
  bottom: 15px;
  width: 100%;
  text-align: center;
  z-index: 100;


  &:hover {
    text-decoration: none;
    color: #FFF;
  }
  &:focus {
    text-decoration: none;
  }

  i {
    vertical-align: text-top;
    display:block;
    font-size: 5em
  }
}

// Navigation

.navbar-default {
    border: none;
    background-color: transparent;
        span.logo-img{
            background-image: url(../img/betandem-logo-white.png);
            width: 120px;
            height: 30px;
            content: none;
            text-indent: -9999px;
            white-space: nowrap;
            display: block;
            background-size: contain;
            background-repeat: no-repeat;
        }
}

// Homepage Header

header {
        color: white;
        width: 100%;
        padding-top: 75px;
    .header-content {
        z-index: 2;
        position: relative;
        text-align: center;
        .header-content-inner {
            h1 {
                font-weight: 300;
                font-size : 43px !important;
                text-transform: uppercase;
                margin-top: 0;
                margin-bottom: 0;
            }
            h2 {
                font-size : 22px ;
                margin-bottom: 30px;
            }
            p {
                font-weight: 300;
                font-size: 21px;
                /*margin-bottom: 50px;*/
                margin-bottom: 0;
            }
        }
    }

    @media (min-width: 768px) {
        // height: 100%;
        .header-content {
            // padding: 10px 15px 50px;
            .header-content-inner {
                max-width: 680px;
                margin-left: auto;
                margin-right: auto;
                p {
                    font-size: 18px;
                    max-width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                }

            }
        }
    }
    @media (max-width: 768px) {
      .header-content .header-content-inner h1 {
        font-size: 35px !important;
      }
        .header-content .header-content-inner h2 {
        font-size: 19px !important;
      }
    }
}

.vid {
    padding-top: 45px;
}


footer {
  padding-top: 15px;
  padding-bottom: 15px;
}

// Extras
// -- Highlight Color Customization

body {
    -webkit-tap-highlight-color: $theme-dark;
}
