footer.bg-dark, #connect.bg-dark{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6e7f82+0,067187+100 */
  background: #6e7f82; /* Old browsers */
  background: -moz-linear-gradient(top,  #6e7f82 0%, #067187 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #6e7f82 0%,#067187 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #6e7f82 0%,#067187 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6e7f82', endColorstr='#067187',GradientType=0 ); /* IE6-9 */
}
